{% extends "core/base.html" %}
{% block sidebar %}
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		{% if user.profile.is_empleado == False %}
		<ul class="nav">
			<li class="nav-item nav-profile">
				<div class="nav-link">
					<div class="user-wrapper">
						<div class="profile-image">
							<img src="images/faces/face1.jpg" alt="profile image">
						</div>
						<div class="text-wrapper">
							<p class="profile-name">{{ user.first_name }}</p>
							<div>
								<small class="designation text-muted">Usuario</small>
								<span class="status-indicator online"></span>
                  			</div>
                		</div>
                	</div>
                </div>
            </li>
            <li class="nav-item">
            	<a class="nav-link" href="#">
            		<i class="menu-icon mdi mdi-backup-restore"></i>
            		<span class="menu-title">Ubicacion Sucursal</span>
            	</a>
          	</li>
            <li class="nav-item">
            	<a class="nav-link" data-toggle="collapse" href="#catalog-collapse" aria-expanded="false" aria-controls="catalog-collapse">
              		<i class="menu-icon mdi mdi-content-copy"></i>
              		<span class="menu-title">Catalogo</span>
              		<i class="menu-arrow"></i>
            	</a>
            	<div class="collapse" id="catalog-collapse">
              		<ul class="nav flex-column sub-menu">
                		<li class="nav-item">
                 	 		<a class="nav-link" href="/catalog/bicicleta">Bicicleta</a>
                		</li>
                		<li class="nav-item">
                  			<a class="nav-link" href="/catalog/equipamiento">Equipamiento</a>
                		</li>
              		</ul>
            	</div>
          	</li>
        </ul>
        {% else %}
        <ul class="nav">
			<li class="nav-item nav-profile">
				<div class="nav-link">
					<div class="user-wrapper">
						<div class="profile-image">
							<img src="images/faces/face1.jpg" alt="profile image">
						</div>
						<div class="text-wrapper">
							<p class="profile-name">{{ user.first_name }}</p>
							<div>
								<small class="designation text-muted">Empleado</small>
								<span class="status-indicator online"></span>
                  			</div>
                		</div>
                	</div>
                </div>
            </li>
            <li class="nav-item">
            	<a class="nav-link" data-toggle="collapse" href="#catalog-collapse" aria-expanded="false" aria-controls="catalog-collapse">
              		<i class="menu-icon mdi mdi-content-copy"></i>
              		<span class="menu-title">Catalogo</span>
              		<i class="menu-arrow"></i>
            	</a>
            	<div class="collapse" id="catalog-collapse">
              		<ul class="nav flex-column sub-menu">
                		<li class="nav-item">
                 	 		<a class="nav-link" href="#">Bicicleta</a>
                		</li>
                		<li class="nav-item">
                  			<a class="nav-link" href="#">Equipamiento</a>
                		</li>
              		</ul>
            	</div>
          	</li>
          	<li class="nav-item">
            	<a class="nav-link" href="#">
            		<i class="menu-icon mdi mdi-backup-restore"></i>
            		<span class="menu-title">Arriendo</span>
            	</a>
          	</li>
            <li class="nav-item">
            	<a class="nav-link" href="#">
            		<i class="menu-icon mdi mdi-backup-restore"></i>
            		<span class="menu-title">Ubicacion Bicicletas</span>
            	</a>
          	</li>
            <li class="nav-item">
            	<a class="nav-link" href="#">
            		<i class="menu-icon mdi mdi-backup-restore"></i>
            		<span class="menu-title">Devolución</span>
            	</a>
          	</li>
        </ul>
        {% endif %}
    </nav>
{% endblock %}