{% extends "core/index.html" %}

{% block content %}
<!--
<h2><a href="{% url 'catalogo:bicicleta_list' %}">Books CBV</a>: Edit</h2>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
-->
<script>

  window.onload = function(){
    document.getElementById('id_sede_bicicleta').className += "form-control";
    document.getElementById('id_marca').className += "form-control";
    document.getElementById('id_aro').className += "form-control";
    document.getElementById('id_precio').className += "form-control";
    document.getElementById('id_estado_bicicleta').className += "form-control";
    document.getElementById('id_descripcion_bicicleta').className += "form-control";
    document.getElementById('id_imagen_bicicleta').className += "form-control";
  }

</script>

{% if request.get_full_path == "/catalog/new_bicicleta/" %}
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h4><a href="{% url 'catalogo:bicicleta_list' %}">Agregar bicicleta</a></h4>
                  <br>
                  <form method="post" class="forms-sample" enctype="multipart/form-data">
                    {% csrf_token %}
                      {{form.as_p}}
                      <button type="submit" class="btn btn-danger btn-fw">
                        <i class="mdi mdi-upload"></i>Agregar
                      </button>
                  </form>
                </div>
              </div>
            </div>
{% else %}
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h4><a href="{% url 'catalogo:bicicleta_list' %}">Editar bicicleta</a></h4>

            <form method="post" class="forms-sample" enctype="multipart/form-data">
                  {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-danger btn-fw">
                        <i class="mdi mdi-cloud-download"></i>Editar
                    </button>
            </form>
                  </div>
                </div>
              </div>

<!--
<form class="forms-sample">
  <div class="form-group">
    <label for="exampleInputName1">Marca</label>
    <input type="text" class="form-control" id="{{form.marca}}" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail3">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword4">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
    </div>
    <div class="form-group">
      <label>File upload</label>
      <input type="file" name="img[]" class="file-upload-default">
    <div class="input-group col-xs-12">
      <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
        <span class="input-group-append">
          <button class="file-upload-browse btn btn-info" type="button">Upload</button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputCity1">City</label>
      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
    </div>
    <div class="form-group">
      <label for="exampleTextarea1">Textarea</label>
      <textarea class="form-control" id="exampleTextarea1" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-success mr-2">Submit</button>
    <button class="btn btn-light">Cancel</button>
  </form>
  -->





    {% endif %}

{% endblock %}

