{% extends "core/index.html" %}
{% block content %}
<div class="row">
{% if catalogo == "bicicleta" %}
    {% for i in objetos %}
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#">
              {% if i.imagen_bicicleta %}
              <img class="card-img-top" src="{{i.imagen_bicicleta.url}}"></a>
              {% else %}
              <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Imagen_no_disponible.svg" alt="IMAGEN NO DISPONIBLE">
              {% endif %}
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{i.marca}}</a>
                </h4>
                <p class="card-text">Aro: '{{i.aro}}'</p>
                <p class="card-text">Precio: ${{i.precio}}</p>
              </div>
              <a class="btn btn-primary btn-fw" href="bicicleta/ver_mas_bicicleta/{{i.pk}}">
                  <i class="fa fa-plus"></i>Ver mas</a>
            </div>
          </div>
    {% endfor %}
{% else %}
    {% for i in objetos %}
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#">
              {% if i.imagen_equipamiento %}
              <img class="card-img-top" src="{{i.imagen_equipamiento.url}}"></a>
              {% else %}
              <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Imagen_no_disponible.svg" alt="IMAGEN NO DISPONIBLE">
              {% endif %}
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{i.nombre}}</a>
                </h4>
                <p class="card-text">Precio: ${{i.precio}}</p>
              </div>
              <a class="btn btn-primary btn-fw" href="equipamiento/ver_mas_equipamiento/{{i.pk}}">
                  <i class="fa fa-plus"></i>Ver mas</a>
            </div>
          </div>
    {% endfor %}
{% endif %}
 </div>
{% endblock %}

