{% extends "core/index.html" %}

{% block content %}



{% if request.get_full_path == "/catalog/new_equipamiento/" %}
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h4><a href="{% url 'catalogo:equipamiento_list' %}">Agregar Equipamiento</a></h4>
                  <br>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-group">
                      <label for="Nombre">Nombre</label>
                      <input class="form-control" type="text" id={{form.nombre}}
                    </div>
                    {{form.nombre.errors}}
                    <div class="form-group">
                      <label for="Precio">Precio</label>
                      <input type="number" class="form-control" id={{form.precio}}
                    </div>
                    {{form.precio.errors}}

                    <div class="form-group">
                      <label for="Descripcion">Descripcion</label>
                      <input type="text" class="form-control" id={{form.descripcion_equipamiento}}
                    </div>
                    {{form.descripcion_equipamiento.errors}}

                    <div class="form-group">
                      <label>File upload</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        
                        <span class="input-group-append">
                            <input type="file" class="form-control file-upload-info" name="imagen_equipamiento" accept="image/*" id="id_imagen_equipamiento">
                        </span>
                      </div>
                      {{form.imagen_equipamiento.errors}}
                    </div>
                    <button type="submit" class="btn btn-danger btn-fw">
                        <i class="mdi mdi-upload"></i>Agregar
                    </button>
                  </form>
{% else %}
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h4><a href="{% url 'catalogo:equipamiento_list' %}">Editar Equipamiento</a></h4>
                  <br>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-group">
                      <label for="Nombre">Nombre</label>
                      <input class="form-control" type="text" id={{form.nombre}}
                    </div>
                    {{form.nombre.errors}}
                    <div class="form-group">
                      <label for="Precio">Precio</label>
                      <input type="text" class="form-control" id={{form.precio}}
                    </div>
                    {{form.precio.errors}}

                    <div class="form-group">
                      <label for="Descripcion">Descripcion</label>
                      <input type="text" class="form-control" id={{form.descripcion_equipamiento}}
                    </div>
                    {{form.descripcion_equipamiento.errors}}

                    <div class="form-group">
                      <label>File upload</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        
                        <span class="input-group-append">
                            <input type="file" class="form-control file-upload-info" name="imagen_equipamiento" accept="image/*" id="id_imagen_equipamiento">
                        </span>
                      </div>
                      {{form.imagen_equipamiento.errors}}
                    </div>
                    <button type="submit" class="btn btn-danger btn-fw">
                        <i class="mdi mdi-cloud-download"></i>Editar
                    </button>
                  </form>
    {% endif %}

{% endblock %}

