{% extends "core/index.html" %}

{% block content %}

<h2><a href="{% url 'catalogo:equipamiento_list' %}">Equipamiento</a></h2>
<p align = "center">
    <a class="btn btn-outline-primary" href="{% url 'catalogo:equipamiento_new' %}">
        <i class="fa fa-plus"></i>Agregar Equipamiento
    </a>
    <br>
    <br>
    <br>
</p>
<ul>
    <div class="row">
    {% for i in object_list %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#">
              {% if i.imagen_equipamiento %}
              <img class="card-img-top" src="{{i.imagen_equipamiento.url}}"></a>
              {% else %}
              <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Imagen_no_disponible.svg" alt="IMAGEN NO DISPONIBLE">
              {% endif %}
            <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{i.nombre}}</a>
                </h4>
                <p class="card-text">Sede: {{i.sede_equipamiento}}</p>
                <p class="card-text">Precio: ${{i.precio}}</p>
                <p class="card-text">Estado: {{i.estado_equipamiento}}</p>
                <p class="card-text">Descripcion Equipamiento: {{i.descripcion_equipamiento}}</p>
            </div>
                <a class="btn btn-outline-primary" href="{% url 'catalogo:equipamiento_edit' i.id %}">
                <i class="fa fa-plus"></i>Editar
                </a>
                <br>
                <a class="btn btn-outline-primary" href="{% url 'catalogo:equipamiento_delete' i.id %}">
                <i class="fa fa-plus"></i>Eliminar
                </a>
            </div>
        </div>
       



    <!--
    <li>{{ i.marca }}  {{ i.aro }} {{ i.precio }} {{ i.imagen_bicicleta }} 
    <a href="{% url 'catalogo:bicicleta_edit' i.id %}">Editar</a>
    <a href="{% url 'catalogo:bicicleta_delete' i.id %}">Eliminar</a>
    </li>
    -->
    {% endfor %}
</ul>

<!--<a href="{% url 'catalogo:bicicleta_new' %}">Agregar Bicicleta</a>-->

{% endblock %}